<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330830647776-obrm5d343uusi2kqqjceopumtl74dlji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330830647776-obrm5d343uusi2kqqjceopumtl74dlji</string>
	<key>API_KEY</key>
	<string>AIzaSyBJVCPU_fNfBi5B5B9COIgFHXVGpPWwcyc</string>
	<key>GCM_SENDER_ID</key>
	<string>330830647776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bewizyu.videoFeedApp</string>
	<key>PROJECT_ID</key>
	<string>my-feeds-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>my-feeds-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330830647776:ios:52b367996e7ab3fff75b85</string>
	<key>DATABASE_URL</key>
	<string>https://my-feeds-dev.firebaseio.com</string>
</dict>
</plist>